:root {
  /* --vp-sidebar-width:300px;/ */
  font-family: 'Microsoft YaHei', SimSun, sans-serif;
}

.collapsed .text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 0px;
}

.vp-doc h2 {
  margin: 30px 0 16px;
}

.vp-doc h3 {
  margin: 20px 0 0;
}

.vp-doc p {
  text-align: justify;
  line-height: 1.5em;
}

.vp-doc [class*='language-'] code .highlighted {
  background-color: rgba(0, 154, 97, 0.3);
  mix-blend-mode: multiply;
}

img {
  margin: auto;
}
