
:root {
  /* --vp-sidebar-width:300px;/ */
  font-family: 'Microsoft YaHei', SimSun, sans-serif;
}


.collapsed .text{
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 0px;
}

.vp-doc p {
  text-align: justify;
}